body {
    width: 960px;
    background-color: powderblue;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 25px;
    line-height: 35px;
    margin-left: auto;
    margin-right: auto;
}

.mn {
    width: 593px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}
.sidebar {
    width: 366px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: inherit;
    line-height: 35px;
}
header{
    text-align: center;
}

footer{
    border-style: solid;
    border-color: black;
    clear: both;
    text-align: center;
}
#title {
    text-align: center;
    color: black;
}