#title {
    text-align: center;
    color: black;
}

body {
    background-color: powderblue;
}

html {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 25px;
    line-height: 35px;

}
#wrapper {
    width: 1208px;
    margin-left: auto;
    margin-right: auto;
}

menu {
    text-align: center;
    margin-right: 20px;

}
#intro {
    padding-left: 200px;
}
#intro #courses {
    padding-left: 100px;
}
header{
    text-align: center;
}
footer {
    text-align: center;
}